body {
  background-color: darkorange;
}

h1 {
  color: navy;
  margin-left: 20px;
}

.container{
	display: grid;
	width: 600px;
	/* width:1fr;*/
	grid-template-columns: repeat(5, 1fr);
	grid-gap: 2em;
	padding-top: 15px;	
	padding-left: 30px;
	padding-right: 30px;
	padding-button: 30px;
	color: gray;
}

.button{
	height: 300px;
	padding: 25px 45px 35px 45px;	
	/*background:url("https://images.unsplash.com/photo-1620648378507-4ad3fac3bb51?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=389&q=80");*/
	text-align: center;
	cursor: pointer;
	margin: 0px;
	background-color: dodgerblue;
	color: black;
	font-size: 1.5em;
	border-radius: 19px;
	box-shadow: 1px 1px 1px #333;
	transition: .2s;
	&:hover {
		box-shadow: 10px 10px 10px fuchsia;
		transform: scale(1.25);
		background-color: gray;
		color: black;
	}
}
